<div id="about">

  <p>For my web development projects, check out my <a href="http://github.com/mgoren">Github</a>.</p>

  <p>For my photography, view my <a href="/">galleries</a>.</p>

  <p>To contact me, email my first name at &lsquo;mortalwombat.net&rsquo;.</p>

  <p>Or visit my <a href="http://linkedin.com/in/mikegoren">LinkedIn</a>.</p>

  <hr>

  <p>All photography on this site is by Mike Goren and is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>

  <p>This site was designed and coded in Ember.js by Mike Goren.</p>

</div>