<div id="about">

  <h1></h1>
    <ul class="ext-links">
      <li><a href="http://www.github.com/mgoren" target="_blank"><i class="fa fa-github-alt"></i></a></li>
      <li><a href="http://www.linkedin.com/in/mikegoren" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>

  <p>This site was designed and coded in Ember.js by Mike Goren.</p>

  <p>Photos copyright Mike Goren, available for use under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution License</a>.</p>

  <p>To contact me, email my first name at mortalwombat.net or see my <a href="http://www.github.com/mgoren" target="_blank">Github</a> or <a href="http://www.linkedin.com/in/mikegoren" target="_blank">LinkedIn</a>.</p>




</div>