<div class="container">

  <header>
    <div class="jumbotron">
      <h1>{{#link-to 'galleries'}}Mike Goren{{/link-to}}</h1>
      <nav class="navbar pull-right myMenu">
        <div class="container-fluid">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" 
                data-target="#my-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>
          </div>
          <div class="collapse navbar-collapse" id="my-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="menu-item">{{#link-to 'galleries' tagName="li"}}<p>Photography</p>{{/link-to}}</li>
              <li class="menu-item">{{#link-to 'web' tagName="li"}}<p>Code</p>{{/link-to}}</li>
              <li class="menu-item">{{#link-to 'about' tagName="li"}}<p>About</p>{{/link-to}}</li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <section>
    {{outlet}}
  </section>

  <footer>
  </footer>

</div>
