<div id="web">

  <h1>Projects</h1>
  <ul class="ext-links">
    <li><a href="http://www.github.com/mgoren" target="_blank"><i class="fa fa-github-alt"></i></a></li>
    <li><a href="http://www.linkedin.com/in/mikegoren" target="_blank"><i class="fa fa-linkedin"></i></a></li>
  </ul>

  <ul class="project-links">
    
    <li>
      <figure>
        <a href="http://mortalwombat.net/" target="_blank"><img src="img/projects/portfolio.png"></a>
          <figcaption>Portfolio<br>Ember.js<br><a href="http://mortalwombat.net/" target="_blank">Live</a> &nbsp; | &nbsp; <a href="https://github.com/mgoren/photography-portfolio" target="_blank">Github</a></figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a href="http://mortalwombat.net/agli/" target="_blank"><img src="img/projects/agli.png"></a>
          <figcaption>African Great Lakes Initiative<br>Ember.js (in progress)<br><a href="http://mortalwombat.net/agli/" target="_blank">Live</a> &nbsp; | &nbsp; <a href="https://github.com/mgoren/agli-website" target="_blank">Github</a></figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a href="https://mgoren.github.io/textAdventure/" target="_blank"><img src="img/projects/textadventure.png"></a>
          <figcaption>Text Adventure<br>AngularJS &amp; jQuery<br><a href="https://mgoren.github.io/textAdventure/" target="_blank">Live</a> &nbsp; | &nbsp; <a href="https://github.com/mgoren/textAdventure" target="_blank">Github</a></figcaption>
      </figure>
    </li>

    <li>
      <figure>
        <a href="https://epigram.herokuapp.com/" target="_blank"><img src="img/projects/epigram.jpg"></a>
          <figcaption>Epigram<br>Ruby/Rails<br><a href="https://epigram.herokuapp.com/" target="_blank">Live</a> &nbsp; | &nbsp; <a href="https://github.com/mgoren/epigram" target="_blank">Github</a></figcaption>
      </figure>
    </li>
  </ul>

</div>